---
import Styles from '../components/Styles.svelte'
import Navbar from '../components/Navbar.svelte'
import Hero from '../components/Hero.svelte'
import ListStages from '../components/ListStages.svelte'
import Elementor from '../components/Elementor.svelte'
import Tags from '../components/Tags.svelte'

---
<html>
  <head>
    <Tags />
    <Styles/>
  </head>
  <body>
    <Navbar client:load />
    <div class="homepage">
      <Hero/>
      <ListStages client:visible />
      <Elementor client:visible />
    </div>
  </body>
</html>
